@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: Arial, sans-serif;
}
body {
  background: radial-gradient(circle at top, #07111f, #050816);
}